*.user
_Re[sS]harper.*/
*.suo
/[pP]ackages/*
!/[pP]packages/repositories.config
build.log
*.nupkg
*.nuspec
*.ncrunch*user
*_ncrunch*
Build-Output/
Build/TestResult.xml
Build/Trainline.AppPackager/*
Build/output/*
[dD]ebug/
src/packages/*
*.feature.cs
*.ncrunchproject
*/*.ncrunchsolution
[bB]in
[oO]bj
*.log
TestResult.xml
output/
*.bak
.vs/
*.jsonl
